@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');   
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    height: 100%;
    overflow-y: hidden;
    font-family: 'VT323', monospace;
}

ion-icon{
    pointer-events: none;
}

img{
    width: 100%;
    object-fit: cover;
}