@mixin setCenter($direction) {
    position: absolute;
    @if ($direction: "left") {
        left: 50%;
        transform: translateX(-50%);
    }
    @if ($direction: "top") {
        top: 50%;
        transform: translateY(-50%);
    }

    @if ($direction: "both") {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}