@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  height: 100%;
  overflow-y: hidden;
  font-family: "VT323", monospace;
}

ion-icon {
  pointer-events: none;
}

img {
  width: 100%;
  object-fit: cover;
}

.wallpaper {
  position: absolute;
  height: 100vh;
  inset: 0 0 0 0;
  z-index: -1;
  opacity: 0.6;
}

.container .play-btn, .container .pause-btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 50%;
  transform: translateY(-50%);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  height: 30%;
  cursor: pointer;
  filter: drop-shadow(0px 0px 2px hsl(120deg, 100%, 80%)) drop-shadow(0px 0px 8px green);
}
.container .play-btn img, .container .pause-btn img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 50%;
  transform: translateY(-50%);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  transform: scale(0);
  transition: 0.2s ease all;
}

.play-btn:hover img,
.pause-btn:hover img {
  transform: scale(1);
}

.play-btn.playing,
.pause-btn.paused {
  display: inline;
}

.pause-btn.playing,
.play-btn.paused {
  display: none;
}

.header {
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
}

.text {
  font-size: 22px;
  color: rgb(235, 235, 235);
  text-shadow: 0px 0px 1px hsl(0deg, 100%, 80%), 0px 0px 2px hsl(0deg, 100%, 80%), 0px 0px 15px hsl(0deg, 100%, 50%), 0px 0px 60px red;
}

.working::after {
  content: "...";
  animation: working 1s linear infinite;
  visibility: visible;
}

@keyframes working {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
.timer {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.timer img {
  width: 100%;
  height: 100%;
  filter: drop-shadow(0px 0px 2px hsl(120deg, 100%, 80%)) drop-shadow(0px 0px 8px green);
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 20px 30px;
}
.footer img {
  width: 20px;
  height: 20px;
  filter: drop-shadow(0px 0px 2px hsl(120deg, 100%, 80%)) drop-shadow(0px 0px 8px green);
  cursor: pointer;
}

.song-name {
  cursor: pointer;
}

.audio-list-wrapper {
  position: absolute;
  inset: 0 0 0 0;
  color: white;
  padding: 20px;
  background: rgba(0, 0, 0, 0.6);
  visibility: hidden;
  opacity: 0;
  transition: 0.2s ease all;
  transform: translateY(20px);
}
.audio-list-wrapper.is-shown {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}
.audio-list-wrapper .container-fluid {
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
}
.audio-list-wrapper .container-fluid .row {
  height: 100%;
  font-size: 20px;
}
.audio-list-wrapper .close-btn {
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 40px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 6;
  padding: 5px;
  border-radius: 8px;
  opacity: 0.7;
}
.audio-list-wrapper .close-btn:hover {
  background: rgba(235, 235, 235, 0.6);
  color: rgb(32, 30, 30);
}

.list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  flex-direction: column;
  max-height: 33.33333%;
  opacity: 0.7;
  position: relative;
  transition: 0.2s ease all;
  cursor: pointer;
  transform: scale(0.9);
}
.list-item:hover {
  opacity: 1;
  transform: scale(1);
}
.list-item .item-image {
  width: 100%;
  max-height: 100%;
  overflow: hidden;
  border-radius: 8px;
  pointer-events: none;
}
.list-item .item-title {
  white-space: nowrap; /* Don't forget this one */
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
  position: absolute;
  padding-inline: 20px;
  text-shadow: 0px 0px 1px hsl(0deg, 100%, 80%), 0px 0px 2px hsl(0deg, 100%, 80%), 0px 0px 15px hsl(0deg, 100%, 50%), 0px 0px 60px red;
  object-fit: cover;
  pointer-events: none;
}

/*# sourceMappingURL=style.css.map */
